.InteriorSquare {
    background-color: var(--light-green);
    width: 6.3vw;
    height: 6.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.current {
    background-color: var(--bright-green);
}