.ExteriorSquare {
    background-color: var(--light-green);
    width: 20vw;
    height: 20vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: .6rem;
    justify-content: center;
    align-items: center;
}

.played {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    background-color: pink;
    height: 20vw;
    width: 20vw;
}

.current {
    background-color: red;
    width: 20vw;
    height: 20vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: .6rem;
    justify-content: center;
    align-items: center;
}