@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --dark-green: #1E4844;
  --light-green: #D6EADF;
  --bright-green: #B8E0D2;
  --winning-gradient: linear-gradient(#ECC30B, #F79D65, #FF2ECC);
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--light-green);
  background-color: var(--dark-green);
}

.App h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}